<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QMS</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/css/icomoon/styles.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CPR.styles.css" asp-append-version="true" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/bootstrap_limitless.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/colors.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/components.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/layout.min.css" rel="stylesheet" asp-append-version="true" />
    @RenderSection("Styles", false)
</head>
<body class="bg-slate-800">
    <!-- Page content -->
    <div class="page-content">
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
    <!-- Footer -->
    <div class="navbar navbar-expand-lg navbar-dark">
        <div class="navbar-collapse collapse" id="navbar-footer">
            <span class="navbar-text">
                &copy; @DateTime.UtcNow.Year. <a href="#">QMS</a> by <a href="https://saibex.co.in/" target="_blank">Saibex Network</a>
            </span>
        </div>
    </div>
    <!-- /footer -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Core JS files -->
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/blockui.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/uniform.min.js" asp-append-version="true"></script>
    <script src="~/js/login.js" asp-append-version="true"></script>
    <script src="~/js/validate.min.js" asp-append-version="true"></script>
    <script src="~/js/login_validation.js" asp-append-version="true"></script>
    <!-- /core JS files -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
