@{
    ViewData["Title"] = "JobWork Track";
}

<link href="~/css/fontawesome/styles.min.css" rel="stylesheet" />
<link href="~/css/tabulator/tabulator.min.css" rel="stylesheet" />
<link href="~/css/tabulator/tabulator_bootstrap4.min.css" rel="stylesheet" />
<link href="~/css/pnotify.css" rel="stylesheet" />
<link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" />


<style>

    .nav-tabs .nav-link.active {
        color: #333;
        background-color: #fff;
        border-color: #ddd #ddd #fff;
        border: 2px solid #0c83ff !important;
        border-bottom: none !important;
    }

    .nav-link.active {
        color: black !important;
        font-weight: bold;
        background-color: #e9ecef;
        font-size: 14px;
    }

    .row {
        margin-bottom: 12px !important;
    }

    label {
        margin-bottom: 2px !important;
    }

    .nav-pills .nav-link {
        text-align: left;
        border-radius: 0;
        border-left: 4px solid transparent;
        font-weight: 500;
        width: 100%;
        padding: 12px;
        background-color: #fff;
        color: #333;
        margin-bottom: 4px;
    }

        .nav-pills .nav-link.active {
            background-color: #f4f3f8;
            border-left: 4px solid #4682B4;
            color: #4682B4;
            font-weight: bold;
        }

    .col-1-5 {
        flex: 0 0 auto;
        width: 10.5%;
        max-width: 10.5%;
        margin-left: 50px;
    }

    .form-control {
        padding: 0 10px !important;
        border: 0;
        border-bottom: 1px solid #cccccc;
        border-radius: 0px;
    }

    label {
        margin-bottom: 0;
        margin-top: .3rem;
        padding-right: 0.25rem;
    }

    .form-group > .row > [class^="col-"] {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    .custome-body {
        margin-bottom: -17px !important;
        padding: 0.75rem !important;
        margin-top: -17px !important;
    }

    #scrollToTopBtn:hover {
        background-color: #0056b3;
    }

    #scrollToTopBtn {
        outline: none;
    }

    .tabulator .tabulator-header .tabulator-col {
        font-size: 14px;
        background-color: #D6E4F0;
        font-weight: 600;
        border-right: 2px solid #ccc;
    }

    .tabulator-row .tabulator-cell {
        padding: 5px 5px;
        font-size: 14px;
        height: 30px;
    }

    .tabulator-cell:hover {
        color: #4682B4 !important;
        cursor: pointer !important;
        font-weight: bold;
    }

    .tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-left {
        border-right: 2px solid #ccc;
    }

    .tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-left {
        border-right: 2px solid #ccc;
    }

    .calendar-container {
        cursor: pointer;
        padding: 10px 15px;
        width: 100%;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transition: background-color 0.3s, box-shadow 0.3s;
        gap: 8px;
        border: 1px solid slategray;
    }

        .calendar-container:hover {
            background-color: #e3f2fd;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        .calendar-container i.fa-calendar {
            color: #2196f3;
            font-size: 1.2em;
            padding-left: 20px;
        }

        .calendar-container span {
            color: #4682B4;
            margin: 0;
            font-size: 16px;
        }

    .container__predefined-ranges {
        font-size: 14px;
    }

    .month-item {
        font-size: 14px;
    }

    .tabulator .tabulator-footer .tabulator-footer-contents {
        background: #D6E4F0;
    }

</style>

<div class="content">
    <div class="card">
        <div class="card-body">

            <div class="nav nav-tabs" id="f-tabs" role="tablist">
                <a class="nav-link active" id="f-tab1" data-bs-toggle="tab" href="#ftab1" role="tab" onclick="loadJobData()" aria-controls="ftab1" aria-selected="false">Jobwork Spares Tracking Input</a>
                <a class="nav-link" id="f-tab2" data-bs-toggle="tab" href="#ftab2" role="tab" onclick="loadFinalJobData()" aria-controls="ftab2" aria-selected="false">Output</a>
            </div>

            <div class="tab-content" id="f-tabContent">

                <div class="tab-pane fade show active" id="ftab1" role="tabpanel">
                    <div class="card" id="div1" style="">
                        <div class="card-body d-flex justify-content-between align-items-center" style="border-bottom:1px solid #4682B4;">
                            <div class="col-md-4">
                                <div id="jobDateTrigger" class="calendar-container">
                                    <i class="fa fa-calendar"></i>
                                    <span id="jobRangeText">Select Date Range</span>
                                </div>
                            </div>
                            <div>
                                <button id="addButton" type="button" class="btn btn-outline-success legitRipple" style="margin: 10px 3px;width: 100px; font-size:15px">
                                    <i class="fas fa-plus mr-2 fa-1x"></i>Add
                                </button>&nbsp;
                                <button id="exldownButton" type="button" class="btn btn-outline-warning legitRipple" onclick="BlankJobWorkTrackDown()" style="margin: 10px 3px;width: 230px; font-size:15px">
                                    <i class="fas fa-regular fa-file-excel mr-2"></i>Download Template
                                </button>&nbsp;
                                <button id="exluploadButton" type="button" class="btn btn-outline-primary legitRipple" onclick="openUploadJob()" style="margin: 10px 3px;width: 150px; font-size:15px">
                                    <i class="fas fa-upload mr-2"></i>Upload Exl
                                </button>&nbsp;
                                <button id="backButton" class="btn btn-outline-info">
                                    <i class="fas fa-arrow-left"></i> Back
                                </button>
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <div id="job-table" class="col-12"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="ftab2" role="tabpanel">
                <div class="card" id="Finaldiv1">
                    <div class="card-body d-flex justify-content-between align-items-center" style="border-bottom:1px solid #4682B4;">
                        <div class="col-md-4">
                            <div id="customDateTriggerFinal" class="calendar-container">
                                <i class="fa fa-calendar"></i>
                                <span id="FinaldateRangeText">Select Date Range</span>
                            </div>
                        </div>
                        <div>
                            <button id="exlExtButton" type="button" class="btn btn-outline-primary legitRipple" onclick="" style="margin: 10px 3px;width: 150px; font-size:15px">
                                <i class="fas fa-upload mr-2"></i>Export Exl
                            </button>&nbsp;
                            <button id="backButton" class="btn btn-outline-info">
                                <i class="fas fa-arrow-left"></i>Back
                            </button>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <div id="finalJob-table" class="col-12"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>

    <!-- jQuery UI (if you use sortable, draggable, etc.) -->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

    <!-- jQuery BlockUI (for popupalert.js) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>

    <!-- DataTables core -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <!-- DataTables Buttons extensions -->
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>

    <!-- Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- Tabulator -->
    <script src="https://unpkg.com/tabulator-tables@5.5.0/dist/js/tabulator.min.js"></script>
    <script src="~/js/tabulator.js"></script>

    <!-- Moment.js and Litepicker -->
    <script src="https://cdn.jsdelivr.net/npm/moment/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/plugins/ranges.js"></script>

    <!-- XLSX -->
    <script src="~/js/xlsx.min.js"></script>

    <!-- PNotify -->
    <script src="~/js/pnotify.js"></script>
    <script src="~/js/pnotify.confirm.js"></script>

    <!-- Noty (if used) -->
    <script src="https://cdn.jsdelivr.net/npm/noty/lib/noty.min.js"></script>

    <!-- Popup Alert -->
    <script src="~/lib/bootstrap/dist/js/popupalert.js"></script>
    <script src="~/scripts/service/jobworktrack.js" asp-append-version="true"></script>
    }

@await Html.PartialAsync("_UploadModalpartial")
