@{
    ViewData["Title"] = "Electrical Protection, Safety Test & Reliability Test";
}

<link href="~/css/tabulator/tabulator.min.css" rel="stylesheet" />
<script src="~/js/tabulator.min.js"></script>

<form id="electricalForm" method="post" action="#">
    <div class="card shadow-sm mb-3" style="border-radius:8px; border:1px solid #ccc;">
        <div class="card-body d-flex justify-content-between align-items-center py-3" style="min-height:80px;">
            <div>
                <b style="font-size:x-large; color:#4682B4;">
                    Electrical Protection, Safety Test &amp; Reliability Test
                </b>
            </div>

            <div>
                <button id="saveButton" type="button" class="btn btn-outline-success mr-2" style="width:120px; font-size:15px">
                    <i class="fas fa-save mr-2 fa-1x"></i> SAVE
                </button>

                <a href='@Url.Action("Electricalprotection","ProductValidation")'
                   class="btn btn-outline-primary"
                   style="width:120px; font-size:15px">
                    <i class="fas fa-arrow-left"></i> BACK
                </a>
            </div>
        </div>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <!-- Top meta table (unchanged) -->
            <div class="table-responsive">
                <table class="table table-bordered" style="font-size:14px; border:1px solid #000; width:100%; border-collapse:collapse;">
                    <colgroup>
                        <col style="width:33.33%;">
                        <col style="width:33.33%;">
                        <col style="width:33.33%;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <b>Product Cat Ref :</b>
                                <input type="text" class="form-control d-inline-block float-end" style="width:60%; font-size:13px;" placeholder="Enter Product Ref">
                            </td>
                            <td>
                                <b>Product Description :</b>
                                <input type="text" class="form-control d-inline-block float-end" style="width:60%; font-size:13px;" placeholder="Enter Description">
                            </td>
                            <td>
                                <b>Report No. :</b>
                                <input type="text" class="form-control d-inline-block float-end" style="width:60%; font-size:13px;" placeholder="Enter Report No">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Light Source Details :</b>
                                <input type="text" class="form-control d-inline-block float-end" style="width:60%; font-size:13px;" placeholder="Enter Details">
                            </td>
                            <td>
                                <b>Driver Details &amp; Qty :</b>
                                <input type="text" class="form-control d-inline-block float-end" style="width:60%; font-size:13px;" placeholder="Enter Driver Info">
                            </td>
                            <td>
                                <b>Date :</b>
                                <input type="date" class="form-control d-inline-block float-end" style="width:60%; font-size:13px;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>PCB Details &amp; Qty :</b>
                                <input type="text" class="form-control d-inline-block float-end" style="width:60%; font-size:13px;" placeholder="Enter PCB Info">
                            </td>
                            <td>
                                <b>LED Combinations :</b>
                                <input type="text" class="form-control d-inline-block float-end" style="width:60%; font-size:13px;" placeholder="Enter LED Combo">
                            </td>
                            <td>
                                <b>Batch Code :</b>
                                <input type="text" class="form-control d-inline-block float-end" style="width:60%; font-size:13px;" placeholder="Enter Batch Code">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Sensor Details &amp; Qty :</b>
                                <input type="text" class="form-control d-inline-block float-end" style="width:60%; font-size:13px;" placeholder="Enter Sensor Info">
                            </td>
                            <td>
                                <b>Lamp Details :</b>
                                <input type="text" class="form-control d-inline-block float-end" style="width:60%; font-size:13px;" placeholder="Enter Lamp Info">
                            </td>
                            <td>
                                <b>PKD :</b>
                                <input type="text" class="form-control d-inline-block float-end" style="width:60%; font-size:13px;" placeholder="Enter PKD">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Main Results Table (expanded with Safety & Reliability) -->
            <table class="table table-bordered mt-2" style="font-size:13px; border:1px solid #000; text-align:center; vertical-align:middle; width:100%; border-collapse:collapse;">
                <colgroup>
                    <col style="width:12%;">
                    <col style="width:15%;">
                    <col style="width:15%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:16%;">
                </colgroup>

                <thead>
                    <tr>
                        <th rowspan="2" style="width:8%;">Test Category</th>
                        <th rowspan="2" style="width:8%;">Description of Testing</th>
                        <th rowspan="2" style="width:8%;">Minimum Technical Requirement</th>
                        <th colspan="5" style="color:red;">Result Pass / Fail / Not Applicable / Pending</th>
                        <th rowspan="2" style="width:10%; color:red;">Result - Pass / Fail / NA / Pending</th>
                    </tr>
                    <tr>
                        <th>Sample-1</th>
                        <th>Sample-2</th>
                        <th>Sample-3</th>
                        <th>Sample-4</th>
                        <th>Sample-5</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- ================= Electrical Protection Test (10 rows) ================= -->
                    <tr>
                        <th rowspan="10" style="text-align:left;">Electrical Protection Test</th>
                        <td>Under Voltage Cut off &amp; auto recovery</td>
                        <td>As per Design Documents</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Over Voltage Cut off &amp; auto recovery</td>
                        <td>As per Design Documents</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Open Circuit Protection</td>
                        <td>Driver goes to shutdown mode</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Short Circuit Protection</td>
                        <td>Driver goes to shutdown mode</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Reverse polarity protection</td>
                        <td>Driver goes to shutdown mode</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Over Load Protection</td>
                        <td>Driver goes to shutdown mode</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Over Thermal cut off</td>
                        <td>As per Design Documents</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Earth fault protection</td>
                        <td>Driver should not failed</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Driver Isolation - Input - Output</td>
                        <td>As per Design Documents</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>High Voltage - 440 V / 320V / 350 V etc.</td>
                        <td>Should pass as per Driver data sheet</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>

                    <!-- ================= Safety Test (7 rows) ================= -->
                    <tr>
                        <th rowspan="7" style="text-align:left;">Safety Test</th>
                        <td>HV</td>
                        <td>a) Class 1:- 1.5 kV for a period of 1 Min<br>b) Class 2:- 3.72 kV for a period of 1 Min</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Insulation Resistance</td>
                        <td>&gt; 2 MΩ</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Earth continuity</td>
                        <td>Continuity</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>SELV protection</td>
                        <td>As per Design Documents</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Leakage Current</td>
                        <td>&lt; 1 Milli Amp</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Creepage &amp; Clearance</td>
                        <td>As per IS 10322</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Hi-pot on MCPCB</td>
                        <td>Withstand specified voltages</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>

                    <!-- ================= Reliability Test (10 rows) ================= -->
                    <tr>
                        <th rowspan="10" style="text-align:left;">Reliability Test</th>
                        <td>On/off (5 Sec On / 5 Sec Off) switching for 4 hrs at 50&deg;C at 240V AC</td>
                        <td>Driver / PCB should not failed</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Soaking / Ageing at Room temperature</td>
                        <td>
                            At 240V AC, 60 Min: Burning<br>
                            At 240V AC, 30 Min: 10 Sec on/off<br>
                            At 270V AC, 45 Min: Burning<br>
                            At 140V AC, 45 Min: Burning<br>
                            At 240V AC, 60 Min: Burning
                        </td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Rolling Test/Endurance Test - Continuous glow at least 24&times;7 days (Minimum 2 fixtures) at Room temperature.</td>
                        <td>Daily observations to be taken. (PCB &amp; driver should not failed. Check burning of SPDs, LED lens, wires, plastic parts etc.)</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Glow Test</td>
                        <td>Should Lit Up</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Lamp Accommodation (for Tube)</td>
                        <td>No Looseness or Tight</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Dali Function</td>
                        <td>As per Design Documents</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Tuneable CCT</td>
                        <td>As per Design Documents</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Battery back up</td>
                        <td>As per Design Documents</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Smart Lighting (POE, BLE, RF - NEMA etc.)</td>
                        <td>As per Design Documents</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                    <tr>
                        <td>Sensor function</td>
                        <td>As per Design Documents</td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                        <td><input type="text" class="form-control text-center"></td>
                    </tr>
                </tbody>
            </table>

            <!-- Bottom result/sign-off (unchanged) -->
            <table class="table table-bordered result-table" style="border:1px solid #000; font-size:14px;">
                <tr>
                    <th colspan="5" style="color:red; text-align:left;">Result – Pass/Fail</th>
                    <th colspan="3">
                        <input type="text" class="form-control" placeholder="Overall Result (Pass/Fail)">
                    </th>
                </tr>

                <tr>
                    <td><b>Tested By</b></td>
                    <td colspan="3">
                        <input type="text" class="form-control" placeholder="Enter Tester">
                    </td>
                    <td><b>Verified By</b></td>
                    <td colspan="3">
                        <input type="text" class="form-control" placeholder="Enter Verifier">
                    </td>
                </tr>

                <tr>
                    <td><b>Name :</b></td>
                    <td colspan="3">
                        <input type="text" class="form-control" placeholder="Tester Name">
                    </td>
                    <td><b>Name :</b></td>
                    <td colspan="3">
                        <input type="text" class="form-control" placeholder="Verifier Name">
                    </td>
                </tr>

                <tr>
                    <td><b>Signature</b></td>
                    <td colspan="3">
                        <input type="text" class="form-control" placeholder="Tester Signature">
                    </td>
                    <td><b>Signature</b></td>
                    <td colspan="3">
                        <input type="text" class="form-control" placeholder="Verifier Signature">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>

<style>
    .card {
        border-radius: 8px;
        border: 1px solid #ccc;
    }

    .table {
        border-collapse: collapse;
    }

        .table th, .table td {
            border: 1px solid #000 !important;
            padding: 4px 6px !important;
            vertical-align: middle;
            text-align: center;
        }

        .table th {
            background-color: #f8f9fa;
            font-weight: bold;
        }

    table.table-bordered td {
        padding: 6px 10px;
        vertical-align: middle;
        border: 1px solid #000 !important;
        text-align: left;
    }

    table.table-bordered b {
        font-weight: 600;
        color: #000;
        margin-right: 5px;
    }

    input.form-control {
        border: none;
        border-bottom: 1px solid #999;
        background: transparent;
        outline: none;
        box-shadow: none;
    }

        input.form-control:focus {
            border-bottom: 1px solid #4682B4;
            box-shadow: none;
        }

    .form-control-sm {
        font-size: 13px;
        padding: 2px 4px;
        display: inline-block;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .result-table td {
        padding: 6px 10px;
        vertical-align: middle;
        font-size: 14px;
    }

    .result-table input {
        width: 70% !important;
        font-size: 13px;
    }

    .result-table b {
        font-size: 13px;
    }
</style>

@section HideSidebar { }
