@{
    ViewData["Title"] = "Impact Test (Pendulum type)";
}


    <style>

        .underline-input {
            border: 0;
            border-bottom: 1.5px solid #666;
            border-radius: 0;
            background: transparent;
            width: 50%;
            font-size: 15px;
            padding: 2px 6px;
            outline: none;
            box-shadow: none;
            vertical-align: middle;
            transition: border-color 0.2s ease-in-out;
        }

            .underline-input:focus {
                border-bottom: 1.5px solid #4682B4;
            }

        .ce-field {
            width: 100%;
            min-height: 28px;
            border-bottom: 1px solid #333;
            padding: 6px 8px;
            font-size: 15px;
        }

            .ce-field:focus {
                border-bottom: 1px solid #007bff;
                background-color: #f9f9f9;
            }

        .req {
            color: #d00;
            margin-left: 2px;
        }

        td {
            white-space: nowrap;
            padding: 8px 10px;
        }

        b {
            font-size: 15px;
            color: #000;
        }

        .card {
            border-radius: 8px;
            border: 1px solid #ccc;
        }

        table.table-bordered th, table.table-bordered td {
            border: 1px solid #000 !important;
            padding: 8px;
        }

        table.table-bordered {
            border-collapse: collapse;
            table-layout: fixed;
            font-size: 13px;
        }
    </style>


    <div class="content">
        <div class="row">
            <div class="col-12">

                
                <div class="card shadow-sm mb-3">
                    <div class="card-body d-flex justify-content-between align-items-center py-3">

                        <div>
                            <b style="font-size:x-large; color:#4682B4;">Impact Test (Pendulum type)</b>
                        </div>

                        <div>
                            <button id="addImpactButton"
                                    type="button"
                                    class="btn btn-outline-success"
                                    onclick="insertImpactTest()"
                                    style="width:120px; font-size:15px;">
                                <i class="fas fa-save mr-1"></i> Save
                            </button>

                            <a href='@Url.Action("Impacttest", "ProductValidation")'
                               class="btn btn-outline-primary"
                               style="width:120px; font-size:15px;">
                                <i class="fas fa-arrow-left"></i> BACK
                            </a>
                        </div>

                    </div>
                </div>



                <div class="card shadow-sm mb-3" style="border:1.5px solid #000;">
                    <div class="card-body" style="padding:18px 20px;">

                        <div class="table-responsive">
                            <table class="table table-bordered">

                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <b>Customer / Project Name :</b>
                                            <input type="text" class="underline-input" style="width:60%; margin-left:10px;" />
                                        </td>

                                        <td colspan="2">
                                            <b>Report No :</b>
                                            <input type="text" class="underline-input" style="width:60%; margin-left:10px;" />
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2"></td>
                                        <td colspan="2">
                                            <b>Date :</b>
                                            <input type="text" class="underline-input" style="width:60%; margin-left:10px;" />
                                        </td>
                                    </tr>

                          
                                    <tr>
                                        <td>
                                            <b>Product Cat Ref :</b>
                                            <input type="text" class="underline-input" style="width:65%; margin-left:10px;" />
                                        </td>
                                        <td>
                                            <b>Product Description :</b>
                                            <input type="text" class="underline-input" style="width:65%; margin-left:10px;" />
                                        </td>
                                        <td>
                                            <b>Batch Code :</b>
                                            <input type="text" class="underline-input" style="width:50%; margin-left:10px;" />
                                        </td>
                                        <td>
                                            <b>Quantity :</b>
                                            <input type="text" class="underline-input" style="width:50%; margin-left:10px;" />
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>


                        <div class="table-responsive" style="margin-top:0;">
                            <table class="table table-bordered text-center">

                                <thead>
                                    <tr>
                                        <th rowspan="2">IK Rating</th>
                                        <th colspan="10">Test Specification</th>
                                    </tr>
                                    <tr>
                                        <th>IK01</th>
                                        <th>IK02</th>
                                        <th>IK03</th>
                                        <th>IK04</th>
                                        <th>IK05</th>
                                        <th>IK06</th>
                                        <th>IK07</th>
                                        <th>IK08</th>
                                        <th>IK09</th>
                                        <th>IK10</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td contenteditable="true">Weight (kg)</td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                    </tr>

                                    <tr>
                                        <td contenteditable="true">Distance (cm)</td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                    </tr>

                                    <tr>
                                        <td contenteditable="true">Impact Energy (joules)</td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                    </tr>

                                    <tr>
                                        <td contenteditable="true">Applicable Test</td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true"></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>


                        <div class="table-responsive" style="margin-top:0;">
                            <table class="table table-bordered">

                                <tbody>
                                    <tr>

                                 
                                        <td style="width:50%; vertical-align:top; padding:18px;">

                                            <b>Observation :</b><br /><br />

                                            <div class="row mb-2">
                                                <div class="col-7">1. Damage observed</div>
                                                <div class="col-5">
                                                    <select class="form-control" id="damageObserved">
                                                        <option value="">Select</option>
                                                        <option value="yes">YES</option>
                                                        <option value="no">NO</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col-7">2. Live parts accessibility</div>
                                                <div class="col-5">
                                                    <select class="form-control" id="liveParts">
                                                        <option value="">Select</option>
                                                        <option value="yes">YES</option>
                                                        <option value="no">NO</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row mt-3">
                                                <div class="col-4"><b style="color:red;">Test Result:</b></div>
                                                <div class="col-8">
                                                    <select class="form-control" id="testResult">
                                                        <option value="">Select</option>
                                                        <option value="pass">Pass</option>
                                                        <option value="fail">Fail</option>
                                                        <option value="n/a">Not Applicable</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </td>


                         
                                        <td style="width:50%; vertical-align:top;">

                                            <div id="photoContainer" style="height:240px; border:1px dashed #ccc; display:flex; align-items:center; justify-content:center;">
                                                <div id="photoSpace">
                                                    <div style="font-size:18px; font-weight:600;">Space For Photo</div>
                                                    <div style="font-size:12px; color:#888;">(Max 5 MB, JPG/PNG)</div>
                                                </div>
                                                <img id="photoPreview" style="max-width:100%; max-height:100%; display:none;" />
                                            </div>

                                            <div class="mt-2">
                                                <button type="button" id="chooseFileBtn" class="chooseFileBtn">Choose file</button>
                                                <input type="file" id="photoInput" accept="image/*" style="display:none" />
                                                <span id="fileName">No file chosen</span>
                                            </div>

                                        </td>

                                    </tr>
                                </tbody>

                            </table>
                        </div>


                        <
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <b>Tested By:</b>
                                            <input type="text" class="underline-input" style="width:60%; margin-left:8px;" />
                                        </td>
                                        <td>
                                            <b>Verified By:</b>
                                            <input type="text" class="underline-input" style="width:60%; margin-left:8px;" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div> 
                </div> 

            </div>
        </div>
    </div>


@section Scripts {

    <script>
        (function () {

            const chooseBtn = document.getElementById('chooseFileBtn');
            const fileInput = document.getElementById('photoInput');
            const fileNameEl = document.getElementById('fileName');
            const preview = document.getElementById('photoPreview');
            const photoSpace = document.getElementById('photoSpace');

            chooseBtn.addEventListener('click', () => fileInput.click());

            fileInput.addEventListener('change', (e) => {
                const f = e.target.files[0];
                if (!f) {
                    fileNameEl.textContent = 'No file chosen';
                    preview.style.display = 'none';
                    photoSpace.style.display = 'block';
                    return;
                }

                if (f.size > 5 * 1024 * 1024) {
                    alert('File is too large. Max 5MB.');
                    fileInput.value = '';
                    return;
                }

                fileNameEl.textContent = f.name;

                if (f.type.startsWith('image/')) {
                    const reader = new FileReader();
                    reader.onload = (ev) => {
                        preview.src = ev.target.result;
                        preview.style.display = 'block';
                        photoSpace.style.display = 'none';
                    };
                    reader.readAsDataURL(f);
                }
            });

        })();
    </script>

}

@section HideSidebar { }
