@{
    ViewData["Title"] = "AHP Note Tracker";
}

<!-- ===== Header Card ===== -->
<div class="card">
    <div class="card-body d-flex justify-content-between align-items-center">
        <div>
            <b style="font-size: large; color: #4682B4;">AHP Note Tracker</b>
        </div>
        <div>
            <button id="saveButton" type="button" class="btn btn-outline-success mr-2" style="width:120px;font-size:15px">
                <i class="fas fa-save mr-2 fa-1x"></i> SAVE
            </button>
            <button id="backButton" class="btn btn-outline-primary"
                    onclick="location.href='@Url.Action("AHPNoteTracker","AHPNoteTracker")'"
                    style="width:120px;font-size:15px">
                <i class="fas fa-arrow-left"></i> BACK
            </button>
        </div>
    </div>
</div>

<!-- ====== CIB LIGHTING & SEATING ====== -->
<div class="card" id="CIBSection">
    <div class="card-body">

        <!-- Top-level tabs -->
        <div class="nav nav-tabs" id="cib-tabs" role="tablist">
            <a class="nav-link active" id="cib-lighting-tab" data-bs-toggle="tab" href="#cib-lighting" role="tab">CIB Lighting</a>
            <a class="nav-link" id="cib-seating-tab" data-bs-toggle="tab" href="#cib-seating" role="tab">CIB Seating</a>
        </div>

        <div class="tab-content" id="cib-tabContent">
            <!-- ========== CIB LIGHTING ========== -->
            <div class="tab-pane fade show active" id="cib-lighting" role="tabpanel">
                <div class="mt-3">
                    <!-- Inner tabs (Lighting only) -->
                    <div class="nav nav-tabs" id="cibLightingTabs" role="tablist">
                        <a class="nav-link active" id="see-matrix-tab" data-bs-toggle="tab" href="#see-matrix" role="tab">SEE Matrix</a>
                        <a class="nav-link" id="six-sigma-tab" data-bs-toggle="tab" href="#six-sigma" role="tab">Six Sigma Projects</a>
                        <a class="nav-link" id="csat-tab" data-bs-toggle="tab" href="#csat" role="tab">CSAT</a>
                        <a class="nav-link" id="spm-score-tab" data-bs-toggle="tab" href="#spm-score" role="tab">SPM Score</a>
                        <a class="nav-link" id="otif-tab" data-bs-toggle="tab" href="#otif" role="tab">On Time in Full Delivery</a>
                        <a class="nav-link" id="service-tab" data-bs-toggle="tab" href="#service" role="tab">Service Complaint Closure</a>
                        <a class="nav-link" id="cso-tab" data-bs-toggle="tab" href="#cso" role="tab">CSO</a>
                        <a class="nav-link" id="cost-tab" data-bs-toggle="tab" href="#cost" role="tab">Cost Savings / Target</a>
                        <a class="nav-link" id="oql-tab" data-bs-toggle="tab" href="#oql" role="tab">Outgoing Quality Level</a>
                    </div>

                    <div class="tab-content mt-3" id="cibLightingTabContent">
                        <!-- SEE Matrix -->
                        <div class="tab-pane fade show active" id="see-matrix" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="see-matrix">
                                            <thead>
                                                <tr>
                                                    <th style="width:3%; text-align:center;">S.N.</th>

                                                    <th style="width:10%; text-align:left;">Projects</th>
                                                    <th class="c-target">Target</th>
                                                    <th class="c-q">FY23-24<br>Q1</th>
                                                    <th class="c-q">FY23-24<br>Q2</th>
                                                    <th class="c-q">FY23-24<br>Q3</th>
                                                    <th class="c-q">FY23-24<br>Q4</th>
                                                    <th class="c-fy2">FY24-25<br>Q1</th>
                                                    <th class="c-fy2">FY24-25<br>Q2</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td class="project">SEE<br>Index –<br>Engagement</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td class="project">SEE<br>Index –<br>Effectiveness</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Six sigma-->
                        <div class="tab-pane fade" id="six-sigma" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="see-matrix">
                                            <thead>
                                                <tr>
                                                    
                                                    <th style="width:2%; text-align:center;">S.N.</th>

                                                    <th style="width:7%; text-align:left;">Projects</th>
                                                    <th class="c-target">Baseline</th>
                                                    <th class="c-target">Target</th>
                                                    <th class="c-fy2">FY24-25<br>Q1</th>
                                                    <th class="c-fy2">FY24-25<br>Q2</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td class="project">
                                                        <b>Service Complaints</b><br>
                                                        95% Closure in 15 days
                                                    </td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>

                                                <tr>
                                                    <td>2</td>
                                                    <td class="project">
                                                        <b>Design LSG Conversion</b><br>
                                                        <ol style="margin:0; padding-left:18px;">
                                                            <li>Metro</li>
                                                            <li>EM</li>
                                                        </ol>
                                                    </td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>

                                                <tr>
                                                    <td>3</td>
                                                    <td class="project">
                                                        <b>Cost Reduction Project -</b><br>
                                                        <ol style="margin:0; padding-left:18px;">
                                                            <li>2x2</li>
                                                            <li>Arcus</li>
                                                            <li>Downlighter</li>
                                                            <li>Flood Light</li>
                                                            <li>High Bay</li>
                                                            <li>Linear</li>
                                                            <li>Streetlight</li>
                                                            <li>Well Glass</li>
                                                        </ol>
                                                    </td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>

                                                <tr>
                                                    <td>4</td>
                                                    <td class="project">OTIF &gt; 90%</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>

                                                <tr>
                                                    <td>5</td>
                                                    <td class="project">
                                                        SPM Score for Critical<br>
                                                        10 Vendors &gt; 3 Stars
                                                    </td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--CSAT-->
                        <div class="tab-pane fade" id="csat" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="see-matrix">
                                            <thead>
                                                <tr>
                                                    <th colspan="2"></th>
                                                    <th colspan="2">FY2023-24</th>

                                                    <th colspan="3">FY2024-25</th>
                                                </tr>
                                                <tr>
                                                    <th style="width:28%">Metrics</th>
                                                    <th style="width:8%">YTD</th>
                                                    <th style="width:8%">Baseline</th>
                                                    <th style="width:8%">Target</th>

                                                    <th style="width:8%">FY24-25 Q1</th>
                                                    <th style="width:8%">FY24-25 Q2</th>
                                                    <th style="width:8%">YTD</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="project">Nos of Request Sent</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>

                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>

                                                <tr>
                                                    <td class="project">Nos of Response Received</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>

                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>

                                                <tr>
                                                    <td class="project">Promoter</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>

                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>

                                                <tr>
                                                    <td class="project">Detractor</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>

                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>

                                                <tr>
                                                    <td class="project">
                                                        <b>NPS% =</b><br>
                                                        (Nos of Promoters – Nos of Detractors) /<br>
                                                        (Nos of Response Received) × 100
                                                    </td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>

                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--SPM-->
                        <div class="tab-pane fade" id="spm-score" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="see-matrix">
                                            <thead>
                                                <tr>
                                                    <th style="width:4%;">S.N.</th>
                                                    <th style="width:30%;">Supplier Name</th>
                                                    <th style="width:27%;">Q1 Performance<br>FY2024-25</th>
                                                    <th style="width:27%;">Q2 Performance<br>FY2024-25</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td class="project">Art Luminaires</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td class="project">Ideal Lighting Solutions</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td class="project">Everlite Cooperation</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td class="project">Rama Industries</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td class="project">Shantinath Industries</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td class="project">Sankalp / Ujas Electricals</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>7</td>
                                                    <td class="project">Varun Pressings</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>8</td>
                                                    <td class="project">NAK Engineers</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>9</td>
                                                    <td class="project">KCF</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>10</td>
                                                    <td class="project">Super Nova</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--OTIF-->
                        <div class="tab-pane fade" id="otif" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="see-matrix" style="width:100%; border-collapse:collapse;">
                                            <thead>
                                                <tr>
                                                    <!-- blank header cell so the body-left cell doesn't merge into header -->
                                                    <th style="width:15%; text-align:left;">DATA</th>
                                                    <th style="width:15%;">FY 2023-24<br>(YTD)</th>
                                                    <th style="width:12%;">Target</th>
                                                    <th style="width:12%;">FY 2024-25 Q1</th>
                                                    <th style="width:12%;">FY 2024-25 Q2</th>
                                                    <th style="width:12%;">FY 2024-25 (YTD)</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <!-- merge only BODY rows -->
                                                    <td rowspan="2" style="vertical-align:top; width:35%; height:50%; text-align:left;">
                                                        <strong>On Time In Full Delivery</strong><br>
                                                        Performance at 90% for all C&amp;I Products
                                                    </td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <!-- no first <td> here, because it is merged above -->
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--service and clouser-->
                        <div class="tab-pane fade" id="service" role="tabpanel">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="see-matrix" style="width:100%; border-collapse:collapse;">
          <thead>
            <tr>
              <th style="width:15%; text-align:left;">DATA</th>
              <th style="width:13%;">FY 2023-24</th>
              <th style="width:13%;">Baseline</th>
         
              <th style="width:13%;">Target</th>
              <th style="width:13%;">FY 2024-25 Q1</th>
              <th style="width:13%;">FY 2024-25 Q2</th>
              <th style="width:13%;">FY 2024-25 (YTD)</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <!-- merge only BODY rows -->
              <td rowspan="2" style="vertical-align:middle; width:25%; text-align:left;">
                <strong>Service Complaints<br>Closure</strong><br>
                90% Closure in 15 days
              </td>
              <td contenteditable="true"></td>
              <td contenteditable="true"></td>
  
              <td contenteditable="true"></td>
              <td contenteditable="true"></td>
              <td contenteditable="true"></td>
              <td contenteditable="true"></td>
            </tr>
            <tr>
              <!-- no first <td> here, because it is merged above -->
              <td contenteditable="true"></td>
              <td contenteditable="true"></td>

              <td contenteditable="true"></td>
              <td contenteditable="true"></td>
              <td contenteditable="true"></td>
              <td contenteditable="true"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

                        <!--CSO-->
                        <div class="tab-pane fade" id="cso" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="see-matrix" style="width:100%; border-collapse:collapse;">
                                            <thead>
                                                <tr>
                                                    <th style="width:30%; text-align:left;"></th>
                                                    <th style="width:14%;">FY 2023-24<br>(YTD)</th>
                                                    <th colspan="3">FY 2024-25</th>
                                                </tr>
                                                <tr>
                                                    <th style="text-align:left;">&nbsp;</th>
                                                    <th></th>
                                                    <th style="width:14%;">Q1</th>
                                                    <th style="width:14%;">Q2</th>
                                                    <th style="width:14%;">YTD</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td style="text-align:left;">Total CSO<br>logged</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>

                                                <tr>
                                                    <td style="text-align:left;">Total A Class<br>CSO's Logged</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>

                                                <tr>
                                                    <td style="text-align:left;">A Class Closed<br>CSO's as on date</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>

                                                <tr>
                                                    <td style="text-align:left;">A Class Closed<br>CSO's &lt;45 Days</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>

                                                <tr>
                                                    <td style="text-align:left;">Percentage Closure of “A” Class CSO under 45 days</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Cost and taregt-->
                        <div class="tab-pane fade" id="cost" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="see-matrix">
                                            <thead>
                                                <tr>
                                                    <th style="width:15%; text-align:center;">Cost Savings<br>FY2023-24</th>

                                                    <th style="width:15%;">Target<br>FY2024-25</th>
                                                    <th style="width:15%;">FY2024-25<br>Q1</th>
                                                    <th style="width:15%;">FY2024-25<br>Q2</th>
                                                    <th style="width:15%;">FY2024-25<br>(YTD)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td contenteditable="true"></td>

                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true"></td>

                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true"></td>

                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true"></td>

                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true"></td>

                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--IQA-->
                        <div class="tab-pane fade" id="oql" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="see-matrix">
                                            <thead>
                                                <tr>
                                                    <th style="width:25%; text-align:center;">Vendor</th>
                                                    <th style="width:10%;">FY 2023-24</th>
                                                    <th style="width:10%;">Target<br>FY 2024-25</th>
                                                    <th style="width:9%;">PC01</th>
                                                    <th style="width:9%;">PC02</th>
                                                    <th style="width:9%;">PC03</th>
                                                    <th style="width:9%;">PC04</th>
                                                    <th style="width:9%;">PC05</th>
                                                    <th style="width:9%;">PC06</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Art Luminaries</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>Ideal Lighting Systems</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>Everlite Corporation</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>Rama Industries</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>Shantinath Industries</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>Varun Pressings</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>Ujas Electricals</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>NAK Engineers</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td><b>Cumulative Average</b></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!-- /Lighting inner tab-content -->
                </div>
            </div>

            <!-- ========== CIB SEATING ========== -->
            <div class="tab-pane fade" id="cib-seating" role="tabpanel">
                <div class="mt-3">
                    <!-- Inner tabs (Seating only) -->
                    <div class="nav nav-tabs" id="cibSeatingTabs" role="tablist">
                        <a class="nav-link active" id="six-sigma-seat-tab" data-bs-toggle="tab" href="#six-sigma-seat" role="tab">Six Sigma Projects</a>
                        <a class="nav-link" id="otif-seat-tab" data-bs-toggle="tab" href="#otif-seat" role="tab">On Time in Full Delivery (OTIF)</a>
                        <a class="nav-link" id="csat-seat-tab" data-bs-toggle="tab" href="#csat-seat" role="tab">CSAT</a>
                        <a class="nav-link" id="cso-seat-tab" data-bs-toggle="tab" href="#cso-seat" role="tab">CSO</a>
                        <a class="nav-link" id="spm-seat-tab" data-bs-toggle="tab" href="#spm-seat" role="tab">SPM</a>
                        <a class="nav-link" id="iqa-seat-tab" data-bs-toggle="tab" href="#iqa-seat" role="tab">IQA (Install Quality Audit)</a>
                    </div>
                    <!--SIX sigma -->
                    <div class="tab-content mt-3" id="cibSeatingTabContent">
                        <div class="tab-pane fade show active" id="six-sigma-seat" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="see-matrix">
                                            <thead>
                                                <tr>
                                                    <th style="width:3%;">S.N.</th>
                                                    <th style="width:10%; text-align:left;">Projects</th>
                                                    <th style="width:12%;">Baseline</th>
                                                    <th style="width:12%;">Target</th>
                                                    <th style="width:12%;">FY24-25<br>Q1</th>
                                                    <th style="width:12%;">FY24-25<br>Q2</th>
                                                    <th style="width:12%;">FY24-25<br>(YTD)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td style="text-align:left;">CN Closure<br>90% in 20 days</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td style="text-align:left;">OTIF &gt; 90%</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td style="text-align:left;">SPM Score for Critical 3 vendors &gt; 3 Stars</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--OTIF-->
                        <div class="tab-pane fade" id="otif-seat" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="see-matrix" style="width:100%; border-collapse:collapse;">
                                            <thead>
                                                <tr>
                                                    <th style="width:15%; text-align:left;">DATA</th>
                                                    <th style="width:14%;">FY 2023-24<br>(YTD)</th>
                                                    <th style="width:14%;">Target</th>
                                                    <th style="width:14%;">FY 2024-25<br>Q1</th>
                                                    <th style="width:14%;">FY 2024-25<br>Q2</th>
                                                    <th style="width:14%;">FY 2024-25<br>YTD</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td rowspan="2" style="text-align:left; vertical-align:middle;">
                                                        <strong>On Time In Full Delivery</strong><br>
                                                        Performance at 90% for all Seating Products
                                                    </td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <!-- second row (no first td, because it’s merged) -->
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--CSAT-->

                        <div class="tab-pane fade" id="csat-seat" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="see-matrix" style="width:100%; border-collapse:collapse;">
                                            <thead>
                                                <tr>
                                                    <th colspan="2"></th>
                                                    <th colspan="2" style="text-align:center;">FY2023-24</th>
                                                    <th colspan="3" style="text-align:center;">FY2024-25</th>
                                                </tr>
                                                <tr>
                                                    <th style="width:30%; text-align:left;">&nbsp;</th>
                                                    <th style="width:10%; text-align:center;">YTD</th>
                                                    <th style="width:10%; text-align:center;">Baseline</th>
                                                    <th style="width:10%; text-align:center;">Target</th>
                                                    <th style="width:10%; text-align:center;">Q1</th>
                                                    <th style="width:10%; text-align:center;">Q2</th>
                                                    <th style="width:10%; text-align:center;">YTD</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td style="text-align:left;">Nos of Request sent</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>

                                                <tr>
                                                    <td style="text-align:left;">Nos of Response received</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>

                                                <tr>
                                                    <td style="text-align:left;">Promoter</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>

                                                <tr>
                                                    <td style="text-align:left;">Detractor</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>

                                                <tr>
                                                    <td style="text-align:left;">
                                                        NPS% = (Nos of Promoters – Nos of Detractors) / (Nos of Responses Received) × 100
                                                    </td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <!--CSO-->
                        <div class="tab-pane fade" id="cso-seat" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="see-matrix">
                                            <thead>
                                                <tr>
                                                    <th colspan="2" style="text-align:center;">FY2023-24</th>
                                       
                                                    <th colspan="3" style="text-align:center;">FY2024-25</th>
                                                </tr>
                                                <tr>
                                                    <th style="width:30%; text-align:left;">&nbsp;</th>
                                                    <th style="width:10%; text-align:center;">YTD</th>
                                       
                                                    <th style="width:10%; text-align:center;">Q1</th>
                                                    <th style="width:10%; text-align:center;">Q2</th>
                                                    <th style="width:10%; text-align:center;">YTD</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="text-align:left;">Total CSO Logged</td>
                                                    <td contenteditable="true"></td>
                                          
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;">Total A Class CSO’s Logged</td>
                                                    <td contenteditable="true"></td>
                                            
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;">A Class Closed CSO’s as on date</td>
                                                    <td contenteditable="true"></td>
                                                
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;">A Class Closed CSO’s &lt; 45 Days</td>
                                                    <td contenteditable="true"></td>
                                               
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;">Percentage Closure of “A” Class CSO under 45 days</td>
                                                    <td contenteditable="true"></td>
                                          
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="spm-seat" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="see-matrix">
                                            <thead>
                                                <tr>
                                                    <th style="width:4%; text-align:center;">S.N.</th>
                                                    <th style="width:20%; text-align:center;">Supplier Name</th>
                                                    <th style="width:21%; text-align:center;">Q4<br>Performance<br>FY2023-24</th>
                                                    <th style="width:22%; text-align:center;">Q1<br>Performance<br>FY2024-25</th>
                                                    <th style="width:22%; text-align:center;">Q2<br>Performance<br>FY2024-25</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>MPPL</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>EXCLUSIFF</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>CVG</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>STARSHINE</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>SAVITON</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="iqa-seat" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="see-matrix">
                                            <thead>
                                                <tr>
                                                    <th style="width:10%; text-align:left;">&nbsp;</th>
                                                    <th style="width:12%; text-align:center;">YTD<br>(FY2023-24)</th>
                                                    <th style="width:10%; text-align:center;">Target<br>Sigma</th>
                                                    <th style="width:12%; text-align:center;">Q1<br>(FY2024-25)</th>
                                                    <th style="width:12%; text-align:center;">Q2<br>(FY2024-25)</th>
                                                    <th style="width:12%; text-align:center;">YTD<br>(FY2024-25)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="text-align:left;">Total No. of Sites</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;">No. of Sites Completed</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;">No. of IQA Audit Completed</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;">% of IQA Completed</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;">IQA Average Sigma</td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                    <td contenteditable="true"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div><!-- /Seating inner tab-content -->
            </div>
        </div>
    </div><!-- /outer tab-content -->
</div>
</div>

<!-- ===== Styles ===== -->
<style>
    /* Tabs: default + active with 3-side blue border */
    .nav-tabs .nav-link {
        border: 1px solid transparent;
        border-bottom: none;
        color: #333;
        background: transparent;
        font-weight: 500;
        font-size: 14px;
        transition: all .2s ease-in-out;
        padding: 8px 16px;
    }

    .c-sn {
        width: 3%;
        text-align: center;
        white-space: nowrap;
    }
        .nav-tabs .nav-link:hover {
            color: #000;
        }

        .nav-tabs .nav-link.active {
            color: #000 !important;
            font-weight: 700 !important;
            font-size: 15.5px !important;
            background: #fff;
            border-top: 3px solid #0c83ff;
            border-left: 3px solid #0c83ff;
            border-right: 3px solid #0c83ff;
            border-bottom: none !important;
            border-radius: 6px 6px 0 0;
        }

    /* SEE Matrix table */
    .see-matrix {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        background: #fff;
        border: 1px solid #000;
        font-size: 14px;
    }

        .see-matrix th, .see-matrix td {
            border: 1px solid #000;
            padding: 8px 10px;
            vertical-align: middle;
            text-align: center;
            word-wrap: break-word;
        }

        .see-matrix thead th {
            background: #f8f9fa;
            font-weight: 700;
        }

        .see-matrix .c-project {
            width: 22%;
            text-align: left;
        }

        .see-matrix .c-target {
            width: 10%;
        }

        .see-matrix .c-q {
            width: 8.5%;
        }

        .see-matrix .c-fy2 {
            width: 10%;
        }

        .see-matrix .project {
            text-align: left;
            line-height: 1.3;
        }

        .see-matrix td[contenteditable="true"] {
            cursor: text;
            background: #fff;
            transition: background-color .2s;
        }

            .see-matrix td[contenteditable="true"]:hover {
                background: #f3f8ff;
            }

            .see-matrix td[contenteditable="true"]:focus {
                outline: 2px solid #4682B4;
                background: #eef6ff;
            }
</style>
@section HideSidebar { }

<!-- ===== Required JS for tabs (Bootstrap 5 bundle) ===== -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
